body {
    font-family: Arial, sans-serif;
}

header {
    transition: background-color 0.5s ease;
}

header:hover {
    background-color: #0056b3;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}